<div>
    <div class="content-center">
    <h1>Best times for solving a 3x3 Rubik's Cube</h1>
        
    <div align="center">
        <table border="4" cellspacing="7" cellpadding="5"> 
            <tr> 
                <th>Record Holder</th>
                <th>Event</th>
                <th>Seconds</th>
            </tr>
            <tr ng-repeat = "record in records"> 
                <td>{{record.name}}</td>
                <td>{{record.event}}</td>
                <td>{{record.time}}</td>
            </tr>
        </table>
    </div>
</div>