<div id="walkthrough">
    <div id="step1" style="display:none;">
        <p class="tooltipTitle">Rubik's Cube World!</p>
        <p class="walkthrough-body">Welcome to the epic world of Rubik's Cube solving. Please explore the site 
            and join the community of other Rubik's Cube enthusiasts.</p>
        <br>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="step2" style="display:none;">
        <p class="tooltipTitle">Menu Bar</p>
        <p class="walkthrough-body">Here you may play with 
            your own interactive cube. You can also check out the world records for fastest time to solve a Rubik's cube. 
            Try to beat these times to get yourself on the list.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="step3" style="display:none;">
        <p class="tooltipTitle">End of walkthrough</p>
        <p class="walkthrough-body">That is the end of the tour. If you have any other questions, please
            feel free to contact us at rubixmasters@gmail.com</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
    </div>
   
</div>